.droppable {
    height: 6.5rem;
    width: 6.5rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    border: 3px dashed #111;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}

.draggable-elements {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.droppable-elements {
    display: flex;
    gap: 10rem;
}